<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <title>Title</title>
</head>
<body>
    <h1>Register Events</h1>
    <h3><a href="/events" class="waves-effect waves-light btn"><i class="material-icons left">format_list_bulleted</i>Event List</a></h3>
    <form class="container" method="post">
        Name:<input type="text" name="name">
        <div class="row">
            <div class="input-field col s6">
                Locale:<input type="text" name="locale">
            </div>
            <div class="input-field col s3">
                Date:<input type="date" name="date">
            </div>
            <div class="input-field col s3">
                Hour:<input type="text" name="hour">
            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">submit</button>

    </form>
    <script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
</body>
</html>
